$font: 'Ubuntu Mono', monospace;
$font-nav: 'Audiowide', cursive;

$bg-color:#f8f6f2;
$bg-dark:#f1f1ed;
$secondary-color: #666;
$tertiary-color: rgba($color: red, $alpha: 0.4);
$quaternary-color: #343a40;