@import './variables';

body{
  background-color: $main-color;
  font-family: $font !important;
}
.App{
  background-color:$main-color;
  &:first-child{
    height:100vh;
    background-color: $main-color;
  }
}
// .main-container{
//   height:100vh;
//   background-color: $main-color;
// }

